*{
body-size:border:box;
margin:0;
padding:0;
}
body {
  font-family:arial,sans-serif;
  line-height: 1.6;
  color:#333;
  max-width:1200px;
  margin:0auto;
  padding:20px;
  background-color:#f4f4f4;
}
header {
  background-color:#0044ff;
  color:#fff;
  text-align:center;
  padding:1rem;
  margin-botton:2rem;
}
h1 {
  font-size:2.5rem;
}
main {
  background-color:#fff;
  padding:2rem;
  border-radius: 5px;
  box-shadow:0 0 10px rgba(0,0,0,0.1)
}
h2 h3{
  color:#0400ff;
  margin-bottom:1rem;
}
.product-intro img {
  max-width:100%;
  height:auto;
  border:2px solid #1726ec
  border-radius:5px;
}
.product-features ul{
  list-style-type:none;
  padding-left:20px;
}
.product-features li::before{
  content:"✓";
  color: #ff05ff;
  font-weight:bold;
  margin-right:10px;
}
.order-now{
  background: color #ffefd5;
  padding:1rem;
  margin:2rem 0;
  border-radius:5px;
  text-align:center;
}
.price{
  font-size:1.5rem;
  font-weight:bold;
  color:#00a2ff;
}
.cta{
  font-style:italic;
  margin-top:0.5rem;
}
.order-from{
  max-width:500px;
  margin:0 auto;
}
.form-group{
  margin-bottom:1rem;
}
label{
  display:block;
  margin-bottom:0.5rem:
}
input,select,textarea{
  width:100%
  padding:0.5rem;
  border:1px solid #ddd;
  background-color: #ffefd5;
  padding:1rem;
margin:2rem;
border
}
button{
  display:inline-block;
  background-color:#ff0050
  color:#fff;
  padding:0.7rem 1.5rem;
  border:none;
  curor:pointer;
  font-size:1rem;
  border-radius:3px;
}
button:hover{
  background-color:#d60043;
}
.dilivery-info{
  margin-top:2rem;
  text-align:center;
}
.thank-you{
  color:#ff0050;
  font-weight:bold
  margin-top:1rem;
}
footer{
  background-color:#13b3cf;
  color:#fff
  padding:1rem;
  margin-top:2rem;
  border-radius:5px;
}
footer ul{
list-style-type:none;
}
footer li{
  margin-bottom:0.5rem;
}
.back-to-top{
display:inline-block;
background-color:#ff0050;
color:#fff;
padding:0.5rem 1rem;
text-decoration:none;
border-radius:3px;
margin-top:1rem;
}
.back-to-top:hover{
  background-color:#d60043;
}
